


<div class="jumbotron ">
  
  <h1 class="display-3">Note Request</h1>
  <p class="lead">What may we help you with today?</p>
 
  </div>




<div class="row">
  <div class="col-sm-4">
<div class="card">
  <div class="card-header">
   New Note
  </div>
  <div class="card-block">
  <form>
      <div class="form-group">
    <label class="lead" for="formGroupExampleInput">Is this for an existing customer?</label>
      </div>
      <div class="form-group">
<label class="custom-control custom-radio">
  <input id="radio1" name="radio1" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Yes</span>
</label>
<label class="custom-control custom-radio">
  <input id="radio2" name="radio1" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">No</span>
</label>
 </div>
   <div class="form-group">
    <label class="lead" for="formGroupExampleInput">Have you completed a Credit Authorization?</label>
      </div>
      <div class="form-group">
<label class="custom-control custom-radio">
  <input id="radio3" name="radio2" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Yes</span>
</label>
<label class="custom-control custom-radio">
  <input id="radio4" name="radio2" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">No</span>
</label>
 </div>
   <div class="form-group">
    <label class="lead" for="formGroupExampleInput">Is this attorney prepared?</label>
      </div>
      <div class="form-group">
<label class="custom-control custom-radio">
  <input id="radio5" name="radio3" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Yes</span>
</label>
<label class="custom-control custom-radio">
  <input id="radio6" name="radio3" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">No</span>
</label>
 </div>
      
</form>

 <a href="#" class="btn btn-primary">Start</a>
  </div>
</div>

  </div>
</div>